/*  FONT
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Source Code Pro', monospace;
*/
/*   COLORS
    background: #10101E;
    dynamic-text #fff;
    keywords: #F29C46;

*/
*{
    margin: 0;
}
body{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: #10101E;
    font-family: 'Montserrat', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
}
.nav-links li a:hover{
    color: #F29C46;
}
.main-title{
    font-size: 1.5em;
    color: #fff;
    text-align: left;
    margin-top: 10px;
    font-family: 'Source Code Pro', monospace;
    font-weight:500;
    font-size: 4vw;
    padding-left: 12%;
    padding-top: 10%;
    width: auto;
    margin-right: 5%;
}
.main-subtitle1{
    color: #fff;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 7vw;
    color: white;
    position: relative;
    padding-bottom: 1%;
}
.main-subtitle2{
    color: #fff;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 7vw;
    float: left;
    color: white;
    position: relative;
    padding-bottom: 1%;
}
.main-subtitle3{
    color: #fff;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 7vw;
    float: left;
    color: white;
    position: relative;
    padding-bottom: 1%;
}
.main-subtitle4{
    color: #fff;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 7vw;
    float: left;
    color: #F29C46;
    position: relative;
    padding-bottom: 1%;

}
/* CONTAINERS */
.container-title{
    margin: 0;
    padding-top: 30vh;
    height: auto;
}
.container-subtitle{
    float: left;
    height: 110%;
    padding-left: 3.5%;
    width: auto;
    height: auto;
    margin: 1em;
}

/* ---------------------- */

/* NAVBAR */
.nav-links li a span{
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    background-color: #10101E;
    font-family: 'Montserrat', sans-serif;
}
.nav-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 1em;
}
.hamburger{
    top: 1em;
    right: 1rem;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.hamburger .line{
    height: 3px;
    width: 100%;
    background-color: #F29C46;
    border-radius: 10px;
}
@media (max-width: 460px){
    .hamburger{
        display: flex;
    }
    .nav-links{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-links ul{
        width: 100%;
        flex-direction: column;
    }
    .nav-links li{
        text-align: center;
    }
    .nav-links li a{
        padding: .5em;
    }
    .nav-links.active{
        display: flex;
    }
    
}
/* ---------------------- */


/* LOGO */
.logo{
    font-family: 'Montserrat', sans-serif;
    padding: 3%;
    padding-top: 1.5%;
    color: #fff;
}



/* ---------------------- */

/* MEDIA QUERY*/

@media only screen and (min-width: 720px) {
    .main-subtitle1{
        font-size: 5vw;
    }
    .main-subtitle2{
        font-size: 5vw;
    }
    .main-subtitle3{
        font-size: 5vw;
    }
    .main-subtitle4{
        font-size: 5vw;
    }
}

/* ---------------------- */

/* DYNAMIC TEXT*/
p.main-subtitle1::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid white;
    background-color: #10101E;
    animation: 
        typing 1s steps(18) forwards;
}
p.main-subtitle2::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid white;
    background-color: #10101E;
    animation: 
        typing 1s steps(20) forwards;
    animation-delay: 1.2s;
}
p.main-subtitle3::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid white;
    background-color: #10101E;
    animation: 
        typing 1s steps(19) forwards;
        animation-delay: 2.4s;
}
p.main-subtitle4::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid white;
    background-color: #10101E;
    animation: 
        typing 1s steps(9) forwards;
        animation-delay: 3.6s;
}
@keyframes typing{
    99.9%{
        border-color: white;
    }
    100%{
        left: 100%;
        margin: 0 -15px 0 0px;
        border-color: #10101E;
        width: 0%;
    }                                                                                                                                                                          
}
/* ---------------------- */



/* FORM */

#registerForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inputs{
    width: 40%;
    padding: 0 0 22px 0;
}

.nomecognome{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fname{
    padding-right: 20px;
}

.lname{
    padding-left: 20px;
}

.question img{
    height: 1em;
    width: auto;
    padding-right: 5px;
}

.question{
    padding-top: 10px;
    height: auto;
    display: flex;
    align-items: center;
}
.title{
    color: white;
}
/* Full-width input fields */
input{
    width: 100%;
    padding: 15px;
    margin: 5px 0 0 0;
    display: inline-block;
    border: none;
    border-radius: 10px;
    border: 1px solid #dadce0;
    background: #fff;
}

input:focus{
    outline-color: #1b66ca;
    background-color: #fff;
}

#eta{
    margin-bottom: 0;
}

  /* Set a style for the submit button - from w3schools */
.registerbtn {
    background-color: #1b66ca;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
  
.registerbtn:hover {
    opacity: 1;
}

.inserted{
    background: white;
}
label{
    color: #10101E;
}
.question{
    color: white;
}
@media only screen and (max-width: 1024px){
    .inputs{
        width: 80%;
        margin-right: 7%;
    }
}
/* ---------------------- */

/* DASHBOARD */

.dashboard{
    padding-top: 5%;
    padding-left: 3%;
    width: auto;
    color: white;
}
.dashboard a{
    text-decoration: none;
    color: white;
}
.dashboard a:hover{
    text-decoration: none;
    color: #F29C46;
}
.description{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.sub-description{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

/* ---------------------- */